@tailwind base;
@tailwind components;
@tailwind utilities;

html{background:#000}
body{overflow-y: scroll;}
*::-webkit-scrollbar{width:6px;background:transparent;height:0}
*::-webkit-scrollbar-thumb{border-radius:10px;background:rgba(255,255,255,.3)}

*{-webkit-tap-highlight-color: rgba(0,0,0,0);outline:none;transition: 0.25s;box-sizing: border-box;scroll-behavior: smooth;}

.no-scrollbar::-webkit-scrollbar { display: none }
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.in:hover{transform: rotate3d(5, 20, 0, 50deg)}

.tippy-tooltip.custom-theme{
    @apply bg-[#222]/[.97] invisible md:visible
}
.tippy-tooltip.custom-theme .tippy-arrow{
    @apply border-t-[#222]/90
}

.splide__arrows .splide__arrow.arrow {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 1.5em;
    opacity: .9;
    top: 50%;
    width: 1.5em;
}

.splide__arrows .splide__arrow.arrow:hover {
    @apply bg-white/25
}

.splide__arrows .splide__arrow.arrow svg{
    width: 0.8em;
    fill: #fff;
}

.splide__pagination__page.pagination {
    background: #888;
    border: 1px solid rgba(0,0,0,0.85)
}

.splide__pagination__page.pagination.is-active {
    background: #fff;
}